@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Italianno|Lemonada:400,500|Source+Sans+Pro:400,600&display=swap');

* {
   /* box-sizing: border-box; */
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fffdff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px 10px;   
    background-color: #fffdf9;
    border-bottom: 2px solid #ffe3ed;
    border-radius: 2px;
    width: 90%;
    margin: auto;
    height: auto;

}

img {
    background-color: #fffdf9;
}

.logo {
    cursor: pointer;
    order: 2;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav-links li {
  padding: 4%;
}


.nav-links li a {
    transition: all 0.3 ease 1s;
    color: #1d9cb3;
    text-decoration: none;
    font-size: 25px;
}

.nav-links li a:hover {
    transition: all 0.3 ease 1s;
    color: rgb(116, 116, 116);
    font-size: 27px;
}

.navbar-left {
    order: 1;
}

.navbar-right {
    order: 3;
}
/* Burger menu toggle*/
.burger div {
    width: 25px;
    height: 3px;
    background-color: #1d9cb3;
    margin: 5px;
}

.burger {
    display: none;
}

@media screen and (max-width:960px) {
    
}

.banner {
    background: url('../assets/images/banner.jpg') top left/cover no-repeat;
    height: 85vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    border-radius: 2px;
    
}

.banner-text {
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #ffe3ed;
  border-radius: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

}

.banner-text h1 {
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Italianno' , cursive;
    text-align: center;
    color: #F9B936;
    background-color: transparent;
  }

.banner-text h5 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: #ffe3ed;
    background-color: transparent;
}


.welcome-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #fffdf9;
    margin: auto;

    padding: 4%;
    
}

.welcome-container > h1{
    font-size: 50px;
    color: rgb(75, 74, 74);
    padding: 20px 0;
}

.welcome-container > p{
    font-size: 20px;
    color: rgb(116, 116, 116);
    line-height: 1.45em;
    text-justify: inter-character;
    padding: 30px 0;

}

#welcome-images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



#welcome-images-container img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}